<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/forms.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Add Expense</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <button onclick = "window.location.href='/'" class="btn btn-primary mb-3"> Go To Home Page </button>
                        <h2 class="card-title text-center mb-3">Add Expense</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="category" class="form-label">Category</label>
                                <span><a href="/admin/home/category/"> (Add Category) </a></span>
                                {{ form.category }}
                            </div>
                            <div class="mb-3">
                                <label for="subcategory" class="form-label">Sub-category</label>
                                <span><a href="/admin/home/subcategory/"> (Add Sub Category) </a></span>
                                {{ form.subcategory }}
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="online_expense_checkbox">
                                    <label class="form-check-label" for="online_expense_checkbox">Online Expense</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="cash_expense_checkbox">
                                    <label class="form-check-label" for="cash_expense_checkbox">Cash Expense</label>
                                </div>
                            </div>
                            <div class="mb-3" id="online_expenses" style="display: none;">
                                <label for="online_expenses" class="form-label"> Amount </label>
                                {{ form.online_expenses }}
                            </div>
                            <div class="mb-3" id="cash_expenses" style="display: none;">
                                <label for="cash_expenses" class="form-label"> Amount</label>
                                {{ form.cash_expenses }}
                            </div>
                            <div class="mb-3 form-check">
                                {{ form.is_employee_expense }}
                                <label class="form-check-label" for="id_is_employee_expense">Expense Done on
                                    Employee</label>
                            </div>
                            <div class="mb-3" id="employee-dropdown" style="display: none;">
                                <label for="employee" class="form-label">Employee</label>
                                {{ form.employee }}
                            </div>
                            <div class="mb-3" id="id_name_of_person">
                                <label for="name_of_person" class="form-label">Name of Person</label>
                                {{ form.name_of_person }}
                            </div>
                            <div class="mb-3">
                                <label for="remark" class="form-label">Remark</label>
                                {{ form.remark }}
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('id_is_employee_expense').addEventListener('change', function () {
            var dropdown = document.getElementById('employee-dropdown');
            var name = document.getElementById('id_name_of_person');
            if (this.checked) {
                dropdown.style.display = 'block';
                name.style.display = 'none';
            } else {
                dropdown.style.display = 'none';
                name.style.display = 'block';
            }
        });

        $(document).ready(function () {
            $('#id_category').change(function () {
                var url = "{% url 'load_subcategories' %}";
                var categoryId = $(this).val();
                $.ajax({
                    url: url,
                    data: {
                        'category': categoryId
                    },
                    success: function (data) {
                        var subcategorySelect = $('#id_subcategory');
                        subcategorySelect.empty();
                        subcategorySelect.append('<option value="">---------</option>');
                        $.each(data, function (key, value) {
                            subcategorySelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            });

            $('#online_expense_checkbox').change(function () {
                if (this.checked) {
                    $('#online_expenses').show();
                    $('#cash_expenses').hide();
                    $('#cash_expense_checkbox').prop('checked', false);
                    $('#id_cash_expenses').val(0);  // Set cash expenses to 0
                } else {
                    $('#online_expenses').hide();
                }
            });

            $('#cash_expense_checkbox').change(function () {
                if (this.checked) {
                    $('#cash_expenses').show();
                    $('#online_expenses').hide();
                    $('#online_expense_checkbox').prop('checked', false);
                    $('#id_online_expenses').val(0);  // Set online expenses to 0
                } else {
                    $('#cash_expenses').hide();
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>