<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/forms.css">
    <title>Add Fund In</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <button onclick = "window.location.href='/'" class="btn btn-primary mb-3"> Go To Home Page </button>
                        <h2 class="card-title text-center mb-3">Add Fund In</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="source" class="form-label">Source</label>
                                <span><a href="/admin/home/source"> (Add Source) </a></span>
                                {{ form.source }}
                            </div>
                            <div class="mb-3">
                                <label for="subsource" class="form-label">Sub-Source</label>
                                <span><a href="/admin/home/subsource"> (Add Sub-Source) </a></span>
                                {{ form.subsource }}
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="online_fund_checkbox">
                                    <label class="form-check-label" for="online_fund_checkbox">Online Fund</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="cash_fund_checkbox">
                                    <label class="form-check-label" for="cash_fund_checkbox">Cash Fund</label>
                                </div>
                            </div>
                            <div class="mb-3" id="online_fund" style="display: none;">
                                <label for="online_fund" class="form-label"> Amount </label>
                                {{ form.online_fund }}
                            </div>
                            <div class="mb-3" id="cash_fund" style="display: none;">
                                <label for="cash_fund" class="form-label"> Amount </label>
                                {{ form.cash_fund }}
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                {{ form.name }}
                            </div>
                            <div class="mb-3">
                                <label for="received_by" class="form-label">Received By</label>
                                {{ form.received_by }}
                            </div>
                            <div class="mb-3">
                                <label for="remark" class="form-label">Remark</label>
                                {{ form.remark}}
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#id_source').change(function () {
                var url = "{% url 'load_subsources' %}";
                var sourceId = $(this).val();
                $.ajax({
                    url: url,
                    data: {
                        'source': sourceId
                    },
                    success: function (data) {
                        var subsourceSelect = $('#id_subsource');
                        subsourceSelect.empty();
                        subsourceSelect.append('<option value="">---------</option>');
                        $.each(data, function (key, value) {
                            subsourceSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            });

            $('#online_fund_checkbox').change(function () {
                if (this.checked) {
                    $('#online_fund').show();
                    $('#cash_fund').hide();
                    $('#cash_fund_checkbox').prop('checked', false);
                    $('#id_cash_fund').val(0);  // Set cash fund to 0
                } else {
                    $('#online_fund').hide();
                    $('#id_online_fund').val(0);  // Set online fund to 0
                }
            });

            $('#cash_fund_checkbox').change(function () {
                if (this.checked) {
                    $('#cash_fund').show();
                    $('#online_fund').hide();
                    $('#online_fund_checkbox').prop('checked', false);
                    $('#id_online_fund').val(0);  // Set online fund to 0 if not checked
                } else {
                    $('#cash_fund').hide();
                    $('#id_cash_fund').val(0);  // Set cash fund to 0 if not hecked
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>