<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/forms.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Generate Reports</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <!-- For Viewing Report -->
            <div class="col-md-6 mb-5">
                <div class="card">
                    <div class="card-body">
                        <button onclick = "window.location.href='/'" class="btn btn-primary mb-4"> Go To Home Page </button>
                        <h2 class="card-title text-center mb-3">View Reports</h2>
                        <form method="get" action="/fund_expense_list/">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="from_date" class="form-label">From Date</label>
                                    <input type="date" class="form-control" id="from_date" name="from_date" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="to_date" class="form-label">To Date</label>
                                    <input type="date" class="form-control" id="to_date" name="to_date" required>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="fund_expense_list">
                            <div class="row mb-3">
                                <button type="submit" class="col-md-4 btn btn-primary w-100"> View Fund-Expense Report
                                </button>
                            </div>
                        </form>

                        <form method="get" action="/employee_list/">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="from_date" class="form-label">From Date</label>
                                    <input type="date" class="form-control" id="from_date" name="from_date" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="to_date" class="form-label">To Date</label>
                                    <input type="date" class="form-control" id="to_date" name="to_date" required>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="employee_list">
                            <div class="row mb-3">
                                <button type="submit" class="col-md-4 btn btn-secondary w-100"> View Employee Report
                                </button>
                            </div>
                        </form>

                        <form method="get" action="/inventory_list/">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="from_date" class="form-label">From Date</label>
                                    <input type="date" class="form-control" id="from_date" name="from_date" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="to_date" class="form-label">To Date</label>
                                    <input type="date" class="form-control" id="to_date" name="to_date" required>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="inventory_list">
                            <div class="row mb-3">
                                <button type="submit" class="col-md-4 btn btn-success w-100"> View Inventory Report
                                </button>
                            </div>
                        </form>
                        <div class="row text-center">
                            <a href="/all_data/" class="custom-button">Click Here To See All Data</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- For Generating Report -->
            <div class="col-md-6 mb-5">
                <div class="card">
                    <div class="card-body">
                        <button onclick = "window.location.href='/'" class="btn btn-primary mb-2"> Go To Home Page </button>
                        <h2 class="card-title text-center mb-3">Generate/Download Reports</h2>
                        <form method="get" action="{% url 'generate_report' %}">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="from_date" class="form-label">From Date</label>
                                    <input type="date" class="form-control" id="from_date" name="from_date" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="to_date" class="form-label">To Date</label>
                                    <input type="date" class="form-control" id="to_date" name="to_date" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4 my-2">
                                    <button type="submit" name="report_type" value="fund_expense_xlsx"
                                        class="btn btn-primary w-100">Download Fund-Expense Report</button>
                                </div>
                                <div class="col-md-4 my-2">
                                    <button type="submit" name="report_type" value="employee_xlsx"
                                        class="btn btn-secondary w-100">Download Employee Report</button>
                                </div>
                                <div class="col-md-4 my-2">
                                    <button type="submit" name="report_type" value="inventory_xlsx"
                                        class="btn btn-success w-100">Download Inventory Report</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="expense_category" class="form-label">Select Expense Category</label>
                                    <select class="form-control" id="expense_category" name="expense_category">
                                        <option value="">All Categories</option>
                                        {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <button type="submit" name="report_type" value="expense_category_wise_report_xlsx"
                                    class="btn btn-primary w-100">Download Expense Report Category-wise</button>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="fund_source" class="form-label">Select Fund Source</label>
                                    <select class="form-control" id="fund_source" name="fund_source">
                                        <option value="">All Sources</option>
                                        {% for source in sources %}
                                        <option value="{{ source.id }}">{{ source.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <button type="submit" name="report_type" value="fundin_source_wise_report_xlsx"
                                    class="btn btn-primary w-100">Download Fund In Report Source-wise</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>