body {
    font-family: sans-serif;
    background-color:#0dcaf0;
    color: #000000;
}

.card {
    border: 3px solid #000000;
    background-color: #0dcaf0;
}

.card-title, .form-label{
    color: #000000;
}

.form-control {
    background-color: #fff;
    color: #000000;
}

.btn-primary {
    color: white;
    background-color: #0c42b8;
    border-color: #aab7c2;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #0136b4;
    border-color: #495056;
}
