/* forms.css */

body {
    font-family: sans-serif;
    background-color:#0dcaf0; /* Dark background color */
    color: #000000; /* Default text color */
}

.card {
    border: 3px solid #000000; /* Border color for the card */
    background-color: #0dcaf0; /* Background color inside the card */
}

.card-title, .form-label{
    color: #000000; /* Text color for the card title */
}

.form-control {
    background-color: #fff; /* White background for form controls */
    color: #000000; /* Text color for form controls */
}

.btn-primary {
    color: white;
    background-color: #0c42b8; /* Custom primary button background color */
    border-color: #aab7c2; /* Custom primary button border color */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #0136b4; /* Custom primary button background color on hover/focus/active */
    border-color: #495056; /* Custom primary button border color on hover/focus/active */
}
