/* For Mobile Phones (both portrait and landscape) */
@media screen and (max-width: 430px) {
  .gfg-div {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-color: chartreuse;
    color: black;
  }
  #company_name, #clock{
    font-size: 20px;
  }
}

/* For Tablets (portrait and landscape) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gfg-div {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-color: orange;
    color: black;
  }
}

/* For Desktop */
@media screen and (min-width: 1024px) {
  .gfg-div {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-color: #63c971;
    color: #fff;
  }
}

@media only screen and (min-width: 600px) {
  .logo {
      width: 150px;
      margin-left: 50px;
  }
}

/* Position clock for mobile view */
@media (max-width: 991.98px) {
  .clock-container {
      position: static;
      margin-top: 15px; /* Adjust margin as needed */
      text-align: center;
  }
}